@import url(./global.css);

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  color: var(--white);
  background-color: rgb(252, 252, 252);
  height: 10vh;
  margin-bottom: 6rem;
}

.nav-item {
  margin-top: 30px;
}

.brand {
  text-align: center;
  font-size: 3rem;
  color: var(--brand-color);
  font-family: var(--brand-bold);
  margin-left: 8rem;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: rgb(52, 52, 52);
  transition: all 0.3s;
}
nav a:hover {
  text-decoration: double;
}
.nav-item {
  font-family: var(--brand-reg);
}
.pc-btn {
  padding: 10px 30px;
  border: none;
  background-color: var(--brand-color);
  color: var(--white);
  font-size: 1rem;
  border-radius: 4px;
}

footer {
  background: var(--footer-bg);
  color: white;
  text-align: center;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.footer-img {
  z-index: 0;
}
.footer-1 {
  position: static;
  display: flex;
  justify-content: space-evenly;
}

.footer-1 h1 {
  font-size: 1rem;
  font-family: var(--brand-font);
}
.footer-1 p {
  font-size: 0.8rem;
  opacity: 0.6;
  color: #f0e8e8;
  margin: 0.8rem;
  font-family: var(--brand-reg);
}
.footer-1 .heading {
  font-family: var(--brand-bold);
  margin-bottom: 1rem;
}

.footer-1 span {
  font-size: 0.8rem;
  opacity: 0.7;
}

.footer-1 a {
  color: #f0f0ea;
  text-decoration: none;
}
.footer-1 .reach-us {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-2 {
  padding-top: 1rem;
  font-family: var(--brand-reg);
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
