@import url("./global.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333; /* A light version of black */
}

.counselling {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.counselling .heading {
  font-family: var(--brand-reg);
  font-size: 3rem;
  background: linear-gradient(45deg, #ff9853, #dd2b2b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  margin-bottom: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--brand-reg);
}

.counseling-card {
  width: 65%; /* Adjust the width as needed */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 10rem;
}

.image {
  flex: 1.3;
  text-align: center;
  /* margin-bottom: 10px;  */
}

.image img {
  max-width: 100%;
  height: auto;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.info h1 {
  font-size: 2rem;
}

.info p {
  font-size: 16px;
  color: #333;
}

.cta-button {
  text-decoration: none;
  background: var(--black); /* Use your brand color */
  color: rgb(255, 255, 255);
  padding: 12px 40px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.5s;
  border: none;

  font-size: 1rem;
}

.cta-button:hover {
  background-color: var(--brand-color); /* A darker shade for hover effect */
  cursor: pointer;
}

section#cta {
  text-align: center;
  padding: 40px 0;
}

.counselling-block {
  display: flex;
  margin: var(--section-margin);
  justify-content: center;
}

section {
  margin: var(--section-margin);
}

.counselling-block > section {
  width: 35%;
  height: 500px;
  background-color: var(--beige);
  border-radius: 4px;
  margin: calc(4 * var(--section-margin));
}

.counselling-block .card {
  font: var(--brand-font);
  font-size: 32px;
  color: var(--white);
  background-color: var(--brand-color);
}

.counselling-block .card.card:hover {
  background-color: rgb(103, 30, 145);
  border: 2px 2px white;
}

.scholarship {
  background-color: #f9f9f9; /* Adjust the background color as needed */
  padding: 40px 0;
}

.scholarship-image {
  margin: 0rem 12rem;
  margin-top: -16rem;
  margin-bottom: 6rem;
  opacity: 0.8;
  position: relative;
  z-index: -1;
}

.scholarship .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scholarship-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.financial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animated-tagline {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.financial h2 {
  font-family: var(--brand-reg);
  font-size: 3rem;
  background: linear-gradient(45deg, #ff9853, #dd2b2b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  margin-bottom: 4rem;
}

.financial h2.animated-tagline.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.scholarship-info p {
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
  color: #000000; /* Adjust text color */
  opacity: 0.7;
  margin-bottom: 20px;
}

.scholarship-image {
  flex: 1;
  text-align: center;
}

.scholarship-image img {
  max-width: 100%;
  height: auto;
}

.cta-button-sc {
  text-decoration: none;
  background: var(--black); /* Use your brand color */
  color: white;
  width: 30%;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
}

.cta-button-sc:hover {
  background: var(--brand-color); /* Use your brand color */
}

#faqs {
  display: flex;
  justify-content: center;
}

.faqs-container {
  text-align: center;
}

.faqs-container .heading {
  font-size: 3.5rem;
  font-family: var(--brand-bold);
  letter-spacing: 0.07rem;
  margin-bottom: 1rem;
}
.faqs-container .tag {
  color: rgb(159, 159, 159);
  opacity: 1;
  letter-spacing: 0.03rem;
  font-family: var(--brand-reg);
  margin-bottom: 3rem;
}
.faq-list {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.question {
  background: none;
  border: none;
  text-align: left;
  cursor: url("/images/cursor.png"), pointer;
  padding: 10px 25px;
  width: 100%;
  font-family: var(--brand-reg);
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
}
.category-quesn {
  margin-bottom: 2rem;
  opacity: 0.9;
}
.category-quesn h1 {
  text-align: start;
  font-family: var(--brand-bold);
  font-weight: bolder;
  margin-bottom: 1rem;
}
.category-quesn li {
  /* padding: 10px 20px; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.category-quesn li :hover {
  background-color: #f0f0ea;
}
hr {
  height: 1px;
  background-color: grey;
  width: 90%;
  margin-left: 23px;
  border-radius: 10px;
  opacity: 0.6;
  margin-bottom: 1rem;
}
.answer {
  display: none;
  border: none;
  text-align: left;
  width: 650px;
  padding: 10px;
  padding: 10px 25px;
  font-family: var(--brand-reg);
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
}

#reviews .heading {
  text-align: center;
  font-size: 1.88rem;
  font-family: var(--brand-bold);
  margin-bottom: 1rem;
}

.review {
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 200px;
  color: var(--black);
  background-color: rgb(250, 246, 246);
  padding: 10px 20px;
  border-radius: 6px;
  margin: 1rem;
}

.arrow img {
  height: 30px;
  opacity: 0.7;
}

.arrow img:hover {
  opacity: 1;
  cursor: pointer;
}

.review-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review h4 {
  font-family: var(--brand-reg);
}
.review h2 {
  font-family: var(--brand-reg);
  font-weight: bolder;
}

/* footer */
