body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(97, 60, 177);
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.info,
.details,
.book-session,
.meeting-info {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#book-session-button {
  background-color: rgb(97, 60, 177);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#book-session-button:hover {
  background-color: #794aa3;
}
