@import url(/css/global.css);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 8px;
  margin-top: 20px;
  color: #494747;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.sub {
  width: 80%;
  text-align: center;
}

.container h1 {
  font-size: 48px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: var(--brand-color);
  margin: 1rem 0;
}

.container h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0.5rem 0;
}

.container p {
  font-size: 16px;

  color: #555;
}

.subdivision {
  background: radial-gradient(rgb(244, 207, 213), rgb(244, 222, 244));
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
  text-align: center;
  transition: scale 0.4s;
  scale: 0.9;
  border: 5px solid transparent;
  box-shadow: 0 0 10px 10px pink;
  /* border-image: url(/images/border.png) 20% round; */

  height: fit-content;
}
.subdivision:hover {
  scale: 1;
}

main {
  display: flex;
  justify-content: flex-start;
}

.left-section {
  display: flex;
  justify-content: center;

  margin-top: -4rem;
  padding: 2rem;
  background-image: linear-gradient(
    -145deg,
    blueviolet,
    purple,
    violet,
    rgb(153, 20, 47)
  );
}

.right-section button {
  font-size: 2rem;
  padding: 1rem;

  background-color: blue;
  color: white;
  border-radius: 4px;
  transition: scale 0.4s;
  position: fixed;
  width: max-content;
  bottom: 2rem;
  right: 2rem;
  scale: 0.9;
}

.right-section button:hover {
  scale: 1;
}
.section-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
}

.ques {
  font-size: 32px;
  padding: 1rem;
  background-color: var(--brand-color);
  color: white;
  border-radius: 4px;
}

.option {
  border-radius: 4px;
  font-size: 24px;
  padding: 1rem;
  margin: 1rem;
  background-color: #ddd3d3;
}

.option span {
  padding: 1rem;
  margin: 1rem;
  background-color: gray;
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
#quiz-box {
  display: flex;
  flex-direction: column;
}
#quiz-box button {
  border-radius: 4px;
  border: none;
  margin: 1rem;
  padding: 1rem;
}

#quiz-box button:hover {
  background-color: var(--brand-color);
  color: white;
}
.input {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

input[type="radio"] {
  background-color: rgb(53, 152, 96);
}
