* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "brand-bold";
  src: url("/fonts/brand-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brand-reg";
  src: url("/fonts/brand-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-color: hsla(291, 60%, 34%, 1);
  --hookers-green: hsla(174, 17%, 46%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --poppy: hsla(356, 74%, 52%, 1);
  --black: hsla(60, 1%, 14%, 1);
  --beige: #f5f5dc;

  --brand-bold: "brand-bold", sans-serif;
  --brand-reg: "brand-reg", sans-serif;
  --universal-margin: 1rem 8rem;
  --section-margin: 1rem;
  --footer-bg: rgb(20, 21, 28);
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.right-section{
  width: ;
}