@import url("/css/global.css");
main .login-panel{
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-family: var(--brand-reg);
}

.left-section{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-family: var(--brand-reg );
  
}

.input{
  display: flex;
  flex-direction: column;
  font-family: var(--brand-reg);
}
.input>div{
  padding:0.5rem;
}
.heading{
  font-family: var(--brand-bold);
  font-size: 3rem;
  padding: 0.5rem;
}

.sub-heading{
  font-family: var(--brand-reg);
  font-size: 1.5rem;
  padding: 0.5rem;
}




#login-img{
  width: 700px;
  height:500px;
  object-fit: contain;
}