@import url("/css/global.css");
main .login-panel{
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-family: var(--brand-reg);
}

.left-section{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--brand-reg );
  padding: 2rem;
  padding-left: 8rem;
}

.input-form{
  display: flex;
  flex-direction: column;
  font-family: var(--brand-reg);
  padding-left: 2rem;

}
.input>div{
  font-size: 1.3rem;
  margin:0.5rem;
}
label{
  padding-right: 1rem;
}

input[type=password],input[type=email]{
  float: right;
  width:300px;
  height: 40px;
  border-radius:4px;
  margin: 1rem;
  border-color: rgb(195, 208, 219);
}

#submit{
  height:80px;
  background-color:var(--brand-color);
  color:var(--white);
  font-family: var(--brand-reg);
  font-size: 1.5rem;
  border-radius:8px;

}
.heading{
  font-family: var(--brand-bold);
  font-size: 3rem;
  padding: 0.5rem;
}

.sub-heading{
  font-family: var(--brand-reg);
  font-size: 1.5rem;
  padding: 0.5rem;

}

.email,.password{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}


#login-img{
  width: 700px;
  height:500px;
  object-fit: contain;
}