@import url("/css/global.css");

main .login-panel {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-family: var(--brand-reg);
}

.left-section {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--brand-reg);
  padding: 2rem;
  padding-left: 8rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  font-family: var(--brand-reg);
  padding-left: 2rem;

}

.input>div {
  font-size: 1.3rem;
  margin: 0.5rem;
}

label {
  padding-right: 1rem;
}

input[type=password],
input[type=email] {
  float: right;
  font-family: var(--brand-reg);
  width: 350px;
  height: 40px;
  border-radius: 4px;
  margin: 1rem;
  border-color: rgb(195, 208, 219);
  margin-right: 0;
  text-align: center;
}

input[type=password]:focus,
input[type=email]:focus {
  background-color: rgb(127, 157, 184);
  color:white;
}

input[type=password] {
  font-size: xx-large;
}

#submit {
  height: 60px;
  width:100%;
  background-color: var(--brand-color);
  color: var(--white);
  font-family: var(--brand-reg);
  font-size: 1.5rem;
  border-radius: 8px;
  transform: translateX(-16px);

}

.submit{
  display: flex;
  justify-content: center;
}

.heading {
  font-family: var(--brand-bold);
  font-size: 3rem;
  padding: 0.5rem;
}

.sub-heading {
  font-family: var(--brand-reg);
  font-size: 1.5rem;
  padding: 0.5rem;

}

.email,
.password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot a {
  text-decoration: none;
  color: grey;
  float: right;
  margin: 0.2rem 0 0.8rem;
}

.other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 1rem;
}

.other p {
  position: absolute;
  background-color: aliceblue;
  z-index: 1;
}

.other-methods {
  display: flex;
  justify-content: space-around;
}

.other-methods>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0.4rem;
  border-radius: 4px;
}

.gmail {
  background-color: var(--white);
  border:solid 2px rgb(173, 171, 171);
}

.gmail img {
  object-fit: contain;
}

.gmail p {
  color: black;
}

.facebook {
  background-color: #3b5998;

}

.other-methods hr {
  margin: 0 0.4rem;
  height: 16px;
}

#login-img {
  width: 700px;
  height: 500px;
  object-fit: contain;
}