@import url("/");
main .login-panel{
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-family: var(--brand-reg);
}

.left-section{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  font-family: var(--brand-reg );
  
}

.top{

}

.heading{
  font-family: var(--brand-bold);
  font-size: 2rem;
  padding: 0.5rem;
}

.sub-heading{
  font-family: var(--brand-reg);
  font-size: 1rem;
  padding: 0.5rem;
}
#login-img{
  width: 700px;
  height:500px;
  object-fit: contain;
}