* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "brand-bold";
  src: url("/fonts/brand-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brand-reg";
  src: url("/fonts/brand-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-color: hsla(291, 60%, 34%, 1);
  --hookers-green: hsla(174, 17%, 46%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --poppy: hsla(356, 74%, 52%, 1);
  --black: hsla(60, 1%, 14%, 1);
  --beige: #f5f5dc;

  --brand-bold: "brand-bold", sans-serif;
  --brand-reg: "brand-reg", sans-serif;
  --universal-margin: 1rem 8rem;
  --section-margin: 1rem;
  --footer-bg: rgb(20, 21, 28);
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--brand-color);
}
.login-panel {
  margin: calc(4 * var(--section-margin));
  width: clamp(300px, 60%, 70vw);
  min-height: 500px;
  display: flex;

  border-radius: 2rem;
  background-color: var(--white);
}

.left-section {
  width: 30%;
}
.right-section {
  width: 70%;
  border: solid 2px rgb(180, 173, 173);
  border-radius: 2rem;
  padding: 2rem;
  margin: calc((4 * var(--section-margin)));

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(206, 194, 194),
    -0.1rem -0.1rem 0.1rem 0.1rem rgb(230, 218, 218);
}

.email {
  display: flex;
  width: 100%;
}

.email > div {
  padding: 0.5rem;
}

.email-field {
  width: 60%;
}
